@model UmRioCheckout.Models.Partner

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Thank";
}

    <div>
        <h4>@Resources.Thank</h4>
        <hr />
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




