@model UmRioCheckout.Models.Partner

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Thank";
}

    <div class="title is-1">
        @Resources.Thank
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}