@model UmRioCheckout.Models.Partner

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Thank";
}

<h2>ViewData["Message"]</h2>

    <div>
        <h4>Thank you for helping us!</h4>
        <hr />
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




