.background {
    background-color: #04376C;
}

.background-is-logo {
    background-color: #04376C;
    background-image: url('images/UmRio_logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-container {
    width: 200px;
    max-width: 350px;
    margin: auto auto;
}
