.background {
    background-color: #04376C;
}

.background-is-logo {
    background-color: #04376C;
    background-image: url('images/UmRio_logo.jpg');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 5%;
    margin-top:1%;
}

.card-wrapper {
   transform: scale(0.6);
   transform-origin: center 55px;
   margin-bottom:-5px;
}

.centered {
    margin-bottom: -2%;
    margin-top:2%;
    left: 50%;
}